.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.w-form-formradioinput--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-left-width: 4px;
  border-right-width: 4px;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
}

.w-checkbox {
  display: block;
  margin-bottom: 5px;
  padding-left: 20px;
}

.w-checkbox::before {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

.w-checkbox::after {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  clear: both;
}

.w-checkbox-input {
  float: left;
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: 0px;
  margin-top: 4px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

body {
  font-family: Mulish, sans-serif;
  color: #2b2b2b;
  font-size: 100%;
  line-height: 1.5;
  font-weight: 400;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 3.6rem;
  line-height: 1.2;
  font-weight: 700;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 700;
}

h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2.1rem;
  line-height: 1.2;
  font-weight: 700;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.6rem;
  line-height: 1.2;
  font-weight: 700;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.2rem;
  line-height: 1.2;
  font-weight: 700;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 700;
}

p {
  margin-bottom: 20px;
}

a {
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #818181;
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

ul {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 2rem;
}

ol {
  margin-top: 0px;
  margin-bottom: 1rem;
  padding-left: 2rem;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.container.quote-container {
  padding-right: 3rem;
  padding-left: 3rem;
}

.vertical-pad-10 {
  padding: 1rem 0px;
}

.vertical-pad-20 {
  padding: 3rem 0px;
}

.vertical-pad-40 {
  padding: 5rem 0rem;
}

.content-grid {
  -ms-grid-columns: 240px 1fr;
  grid-template-columns: 240px 1fr;
}

.button {
  padding: 12px 18px;
  border-radius: 6px;
  background-color: #ff7557;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.button.button-small {
  padding: 1rem;
  background-color: #ff7557;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}

.button.button-small:hover {
  background-color: #fa6140;
  opacity: 1;
}

.button.button-medium {
  padding: 1.2rem 2rem;
  background-color: #ff7557;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}

.button.button-medium:hover {
  background-color: #fa6140;
  opacity: 1;
}

.button.button-large {
  padding: 1.4rem 2rem;
  background-color: #ff7557;
  opacity: 1;
}

.button.button-large:hover {
  background-color: #fa6140;
}

.button.button-large.inverted {
  background-color: #fff;
  -webkit-transition: background-color 200ms ease, opacity 200ms ease;
  transition: background-color 200ms ease, opacity 200ms ease;
  color: #151518;
}

.button.button-large.inverted:hover {
  background-color: #f6f6f8;
}

.grid-center {
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.heading-underline {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccd2d4;
}

.sidebar-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  padding: 2rem 1rem 2rem 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 6px;
  background-color: transparent;
  line-height: 1.8;
}

.heading-center {
  text-align: center;
}

.sidebar-link {
  border: 1px none #000;
  color: #2b2b2b;
}

.sidebar-link:active {
  border-style: solid;
}

.sidebar-link.w--current {
  padding-left: 0.5rem;
  border-style: none none none solid;
  border-width: 1px 1px 1px 3px;
  border-color: #000 #000 #000 #ff7557;
  -webkit-transition: border 200ms ease, padding 200ms ease, opacity 200ms ease;
  transition: border 200ms ease, padding 200ms ease, opacity 200ms ease;
}

.heading-extra-large {
  font-size: 6rem;
}

.subheading {
  margin-bottom: 6px;
  color: #999;
  font-size: 0.9rem;
}

.subheading.join {
  margin-bottom: -30px;
}

.heading-padding-40 {
  padding-bottom: 2rem;
}

.hero {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: transparent;
}

.form-success {
  position: relative;
  min-height: 320px;
  background-color: transparent;
}

.input {
  min-height: 65px;
  margin-bottom: 4px;
  padding: 32px 14px 10px;
  border: 1px solid #ccd2d4;
  border-radius: 4px;
  background-color: #f4f7f8;
  -webkit-transition: background-color 300ms cubic-bezier(.165, .84, .44, 1);
  transition: background-color 300ms cubic-bezier(.165, .84, .44, 1);
  color: #212121;
  font-size: 1rem;
}

.input:hover {
  border-color: #4253ff;
  background-color: #fff;
}

.input:focus {
  border-color: #4253ff;
  background-color: #fff;
}

.input::-webkit-input-placeholder {
  color: #aeb0b5;
}

.input:-ms-input-placeholder {
  color: #aeb0b5;
}

.input::-ms-input-placeholder {
  color: #aeb0b5;
}

.input::placeholder {
  color: #aeb0b5;
}

.input.textarea {
  min-height: 120px;
}

.input.select {
  padding-left: 12px;
}

.input-label {
  position: relative;
  z-index: 1;
  margin-right: 10px;
  margin-bottom: -32px;
  margin-left: 10px;
  padding: 10px 5px 5px;
  border-top-right-radius: 3px;
  font-size: 0.9rem;
  line-height: 1;
  font-weight: 600;
}

.input-label.label-bold {
  margin-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: transparent;
  font-size: 1rem;
}

.input-label.contact-mode {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0px;
  padding-left: 0px;
}

.form-error {
  margin-top: 16px;
  padding: 8px 0px 0px;
  border-top: 1px solid #e31700;
  background-color: transparent;
  color: #e31700;
}

.radio {
  width: 20px;
  height: 20px;
  margin-top: 2px;
  margin-left: -28px;
  border-color: #ccd2d4;
  background-color: #fff;
  box-shadow: inset 0 0 0 3px #fff;
}

.radio:hover {
  background-color: #f1f1f1;
}

.radio.w--redirected-checked {
  border-width: 1px;
  border-color: #4253ff;
  background-color: #ff7557;
}

.radio.w--redirected-focus {
  border-color: #aeb0b5;
}

.input-group {
  position: relative;
  display: block;
  margin-bottom: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.form-success-flex {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.checkbox {
  width: 20px;
  height: 20px;
  margin-top: 2px;
  margin-left: -28px;
  border-color: #ccd2d4;
}

.checkbox:hover {
  background-color: #f1f1f1;
}

.checkbox.w--redirected-checked {
  border-color: #4253ff;
  background-color: #ff7557;
  background-size: 16px;
}

.checkbox.w--redirected-focus {
  border-color: #ff7557;
}

.form-field-group {
  margin-bottom: 8px;
  padding-left: 28px;
}

.color {
  width: 100%;
  height: 100%;
  min-height: 102px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: #ff7557;
}

.color.primary-color {
  background-color: #ff7557;
}

.color-card-text {
  display: block;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.color-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px none #ccd2d4;
  border-radius: 6px;
}

.color-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100px;
  margin-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  line-height: 0.8;
}

.color-wrap {
  padding-right: 0px;
  padding-left: 0px;
}

.color-text-wrap {
  border: 1px none #000;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.heading-white {
  color: #fff;
}

.primary-color {
  background-color: #ff7557;
}

.seconday-color {
  background-color: #882cdf;
}

.accent-color {
  background-color: #1a70c7;
}

.base-dark {
  background-color: #151518;
  color: #fff;
}

.base-medium {
  background-color: #ccd2d4;
}

.base-light {
  background-color: #f6f6f8;
}

.shadow {
  box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.2);
}

.full-height {
  position: relative;
  min-height: 100vh;
  background-color: #151518;
}

.full-height.home-hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #151518;
}

.full-height.scroll-top {
  z-index: 2;
  background-color: #151518;
}

.full-height.flex-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.full-height.flex-full {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.menu-bar {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 999;
  display: none;
  height: 440px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ccd2d4;
}

.menu-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 35px;
  margin-left: 35px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000;
  font-size: 2rem;
  line-height: 3rem;
  text-decoration: none;
}

.nav-item-text {
  font-size: 1rem;
  line-height: 1.4rem;
  font-weight: 400;
}

.nav-item-divider {
  width: 70px;
  height: 1px;
  margin-top: 25px;
  background-color: #000;
}

.menu-detail-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  margin-bottom: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Mulish, sans-serif;
  color: #000;
  font-size: 1.2rem;
  line-height: 1.2;
  font-weight: 400;
}

.logo {
  position: fixed;
  left: 50%;
  top: 70px;
  z-index: 999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 70px;
  height: 70px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ff7557;
  -webkit-transform: translate(-50%, 0px);
  -ms-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
  font-family: Oswald, sans-serif;
  color: #fff;
  font-size: 34px;
  line-height: 40px;
  font-weight: 500;
  text-decoration: none;
}

.logo.primary {
  position: absolute;
  z-index: 1000;
  width: 100px;
  height: 100px;
  margin-left: -60px;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.logo.primary.logo-footer {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  margin-left: 0px;
}

.top-border {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 2;
  display: none;
  height: 105px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ccd2d4;
}

.left-border {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 2;
  display: none;
  width: 70px;
  background-color: #ccd2d4;
}

.right-border {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2;
  display: none;
  width: 70px;
  background-color: #ccd2d4;
}

.bottom-border {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2;
  display: none;
  height: 70px;
  background-color: #ccd2d4;
}

.navigation {
  position: relative;
}

.hero-heading {
  margin-right: -3rem;
  margin-left: 0px;
  color: #f6f6f8;
  font-size: 4.6rem;
  line-height: 1;
  font-weight: 900;
  text-align: left;
  letter-spacing: 1.6rem;
  text-transform: uppercase;
}

.hero-home-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.lottie-animation {
  width: 100%;
  margin-bottom: -18%;
}

.scroll-text {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 25%;
  font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, sans-serif;
}

.scroll-text.scroll-second {
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  z-index: 99;
  background-color: transparent;
  opacity: 0.6;
  -webkit-transform: translate(0px, 50vh);
  -ms-transform: translate(0px, 50vh);
  transform: translate(0px, 50vh);
}

.scroll-text.scroll-third {
  z-index: 99;
  opacity: 0.6;
  -webkit-transform: translate3d(0px, 100vh, 0vh);
  transform: translate3d(0px, 100vh, 0vh);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.scroll-text.scroll-first {
  z-index: 99;
  opacity: 0.6;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, sans-serif;
}

.scroll-heading {
  opacity: 1;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  color: #f6f6f8;
  font-size: 10rem;
}

.section {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.body {
  font-size: 18px;
  line-height: 1.8;
}

.column-text {
  position: relative;
  width: 60%;
}

.column-text.bio {
  width: 100%;
  padding-top: 6px;
}

.dashed {
  position: absolute;
  left: 0px;
  top: 2px;
  right: auto;
  bottom: auto;
  width: 65px;
  height: 2px;
  border-style: none;
  border-width: 0px;
  border-color: #ccd2d4;
  border-radius: 0%;
  background-color: #ff7557;
  opacity: 1;
}

.column-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.showcase-image {
  position: relative;
}

.tab-link {
  margin-right: 0px;
  padding: 8px;
  border-radius: 50%;
  background-color: transparent;
  opacity: 0.5;
  -webkit-transition: background-color 200ms ease, opacity 200ms ease;
  transition: background-color 200ms ease, opacity 200ms ease;
}

.tab-link.w--current {
  background-color: #ff7557;
  opacity: 1;
}

.tab-pane {
  height: auto;
}

.menu-image-wrapper {
  position: relative;
  overflow: hidden;
  width: 90px;
  height: 90px;
  padding: 2px;
  border-radius: 50%;
}

.testimonial-text {
  margin-bottom: 20px;
  font-size: 22px;
  font-style: italic;
}

.feature-icon {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 50%;
  background-color: #fff;
  -o-object-fit: cover;
  object-fit: cover;
}

.quote-icon {
  position: absolute;
  left: auto;
  top: 0px;
  right: 0px;
  bottom: auto;
  width: 60px;
  opacity: 0.26;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.featured-wrap {
  position: relative;
  display: block;
  width: 100%;
  max-width: none;
  margin-right: auto;
  margin-left: auto;
  padding: 40px 40px 32px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 0px none transparent;
  border-radius: 10px;
  background-color: transparent;
  color: #fff;
}

.tabs-content {
  display: block;
  overflow: visible;
  margin-bottom: 32px;
  padding-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-bottom: 0px none transparent;
}

.tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.testimonee-name {
  margin-bottom: 2px;
  font-weight: 500;
}

.testimonee-town {
  color: #aaabb2;
  font-size: 14px;
}

.testimonee-cite {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.tabs-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}

.feature-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.testimonial-text-wrap {
  padding-left: 20px;
}

.feature-image {
  width: auto;
  height: auto;
  max-width: 100%;
}

.testimonial-wrap {
  width: 50%;
  min-height: 300vh;
}

.testimonials-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 50%;
  min-height: 100vh;
  background-image: url('/static/images/bathroom-Guald.jpg');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.testimonial {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
}

.footer {
  min-height: 200px;
  padding-top: 100px;
  background-color: #151518;
  color: #f6f6f8;
  font-weight: 700;
}

.signature {
  width: 80%;
  margin-left: auto;
}

.section-bio {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 700px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-color: #fff;
}

.image {
  position: relative;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  margin-top: auto;
  margin-bottom: -100px;
}

.columns {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.bio-image {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;
  width: 50%;
  height: auto;
  margin-left: auto;
  background-image: url('/static/images/br-reno-1.jpg');
  background-position: 0px 0px;
  background-size: auto;
}

.feature-text-wrap {
  position: absolute;
  left: auto;
  top: auto;
  right: -40px;
  bottom: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  background-color: #fff;
}

.heading {
  color: #151518;
}

.paragraph {
  color: #151518;
}

.feature-text {
  position: relative;
}

.footer-flex-container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: left;
}

.footer-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.5;
}

.footer-link {
  display: block;
  margin-bottom: 10px;
  color: #f6f6f8;
  font-size: 0.8em;
  line-height: 1.8;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.text-block {
  margin-top: 100px;
  margin-bottom: 20px;
  margin-left: 0px;
  color: #ccd2d4;
  font-size: 0.8em;
  text-align: center;
}

.quote-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.quote-column.qoute-image {
  background-image: url('/static/images/bathroom-Guald.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.column-text-wrap.light-wrap {
  position: relative;
}

.call-to-action {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #ff7557;
  color: #fff;
}

.centered-container {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.testimonial-image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  background-image: url('/static/images/bg-house.jpg');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.testimonial-image.t-image-2 {
  background-image: url('/static/images/kitchen-Drury.jpg');
}

.testimonial-image.t-image-1 {
  z-index: 2;
  background-image: url('/static/images/Bathroom-Robinson.jpg');
}

.fat-border {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  height: 30vh;
  background-color: #f0f0f0;
  -webkit-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}

.fat-border.right {
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 10vw;
  height: 100vh;
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

.fat-border.left {
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  width: 10vw;
  height: 100vh;
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}

.fat-border.bottom {
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.video-reveal-wrap {
  position: relative;
  z-index: -1;
}

.video-reveal-trigger {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.video-reveal {
  position: relative;
  z-index: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.hero-heading-reveal {
  color: #f0f0f0;
  font-size: 8em;
  line-height: 130%;
  font-weight: 800;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.background-video {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact-mode-wrap {
  margin-bottom: 40px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.utility-image {
  width: 50px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.6rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  h4 {
    font-size: 1.4rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: 0.8rem;
  }

  .container {
    width: 100%;
    max-width: 1280px;
  }

  .vertical-pad-10 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .vertical-pad-20 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .vertical-pad-40 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .content-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .sidebar-nav {
    margin-right: 0px;
  }

  .heading-extra-large {
    font-size: 4rem;
  }

  .full-height {
    min-height: 0vh;
  }

  .full-height.home-hero {
    min-height: 100vh;
  }

  .full-height.scroll-top {
    min-height: 0vh;
  }

  .full-height.flex-full {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .menu-bar {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .menu-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .hero-heading {
    margin-right: -2.5rem;
    font-size: 3.6rem;
  }

  .scroll-text.scroll-second {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .scroll-text.scroll-third {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .scroll-heading {
    font-size: 6rem;
  }

  .column-text {
    width: 100%;
  }

  .showcase-image {
    margin-top: 30px;
    margin-bottom: 60px;
  }

  .quote-icon {
    display: none;
  }

  .tabs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .tabs-menu {
    margin-right: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .feature-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .feature-image {
    width: auto;
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .testimonial-wrap {
    width: 100%;
  }

  .testimonials-sticky {
    width: 100%;
  }

  .image {
    margin-right: -100px;
  }

  .columns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 140px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .bio-image {
    width: 100%;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .feature-text-wrap {
    position: relative;
    right: auto;
    width: 100%;
  }

  .footer-flex-container {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .column-text-wrap {
    width: 80%;
    padding: 40px;
  }

  .column-text-wrap.light-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 40px;
    background-color: #f6f6f8;
  }

  .heading-2 {
    position: static;
  }

  .hero-heading-reveal {
    font-size: 3em;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .container.quote-container {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .grid-center {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .form-success-flex {
    max-width: 340px;
  }

  .full-height.flex-full {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .nav-item {
    font-size: 1.6rem;
  }

  .hero-heading {
    margin-right: -2rem;
    font-size: 2rem;
  }

  .scroll-heading {
    font-size: 4rem;
  }

  .tabs-menu {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .testimonial-wrap {
    width: 100%;
  }

  .testimonials-sticky {
    width: 100%;
  }

  .testimonial {
    position: relative;
    background-color: rgba(31, 31, 36, 0.5);
    background-clip: border-box;
  }

  .image {
    margin-right: -80px;
  }

  .columns {
    margin-top: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-flex-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .call-to-action {
    padding: 40px 20px;
  }

  .hero-heading-reveal {
    font-size: 3em;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 2.6rem;
  }

  h2 {
    font-size: 2rem;
  }

  .container {
    display: block;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .container.quote-container {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .heading-center {
    font-size: 2.6em;
  }

  .input {
    padding: 1.6rem 1rem 0.6rem;
  }

  .input-label.label-bold {
    margin-right: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .form-field-group {
    margin-bottom: 0.6rem;
    padding-left: 2rem;
  }

  .menu-wrap {
    max-width: 100%;
  }

  .nav-item {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 1.4rem;
  }

  .hero-heading {
    margin-right: -1rem;
    font-size: 1rem;
    letter-spacing: 1rem;
  }

  .scroll-heading {
    font-size: 2rem;
  }

  .column-text {
    width: 100%;
  }

  .tab-link.w--current {
    display: block;
  }

  .menu-image-wrapper {
    width: 70px;
    height: 70px;
  }

  .featured-wrap {
    padding-right: 24px;
    padding-left: 24px;
  }

  .tabs-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    align-self: center;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    text-align: left;
  }

  .footer-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-heading {
    margin-top: 20px;
  }

  .column-text-wrap.light-wrap {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .centered-container {
    text-align: left;
  }

  .hero-heading-reveal {
    font-size: 1.6em;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_5df0204e-b79c-094a-8662-9c9da4a6d770-0ee3fef4 {
    -ms-grid-column-align: auto;
    justify-self: auto;
  }
}

html{visibility: visible;opacity:1;}